<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather App using AngularJS</title>
    <link rel="stylesheet" type="text/css" href="styleSheets/app.css">
    <link rel="stylesheet" type="text/css" href="styleSheets/weather-icons.min.css">
    <link rel="stylesheet" type="text/css" href="styleSheets/weather-icons-wind.min.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    <div class="__main" ng-controller="jsonReader">
      <div class="main">
      <div class="__header">
        <div class="header-wrapper"></div>
      </div>
      <div class="__sidebar">
        <div class="sidebar">
          <div class="__menu"></div>
        </div>
      </div>
      <div class="__content">
        <div class="card">
          <div class="__card-content">
            <div class="select">
              <p class="control">
                <select name="city" ng-options="city as city.city for city in cities" ng-model="selectedCity" ng-change="getSelectedCityWeather()">
                </select>
              </p>
            </div>
            <!-- Cards for weather details Start -->
            <div class="columns">
              <div class="column">
                <div class="box">
                  <strong>Current weather</strong>
                  <article class="media">
                    <div class="media-left">
                      <span class="icon is-medium is-left">
                        <i ng-class="currentWeather.icon"></i>
                      </span>
                    </div>
                    <div class="media-content">
                      <p>Temperature : {{currentWeather.temperature}} </p>
                      <p>Humidity : {{currentWeather.humidity}} </p>
                      <p>Wind Speed : {{currentWeather.windSpeed}} </p>
                    </div>
                  </article>
                </div>
              </div>
              <div class="column">
                <div class="box">
                  <strong>3 hour weather</strong>
                  <article class="media">
                    <div class="media-left">
                      <span class="icon is-medium is-left">
                        <i ng-class="threeHourWeather.icon"></i>
                      </span>
                    </div>
                    <div class="media-content">
                      <p>Time : {{threeHourWeather.time}} </p>
                      <p>Temperature : {{threeHourWeather.temperature}} </p>
                      <p>Humidity : {{threeHourWeather.humidity}} </p>
                      <p>Wind Speed : {{threeHourWeather.windSpeed}} </p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <div class="box">
              <strong>5 day weather</strong>
              <div class="control">
                <label class="radio"> Get weather forecast by:
                  <input type="radio" ng-click="searchWeatherByCity()" ng-checked="byCity.value" > City
                  <input type="radio" ng-click="searchWeatherByZip()" ng-checked="byZip.value"  > Zip
                </label>
              </div>
              <div class="select" ng-show="byCity.value">
                <p class="control">
                  <select name="city" ng-options="city as city.city for city in cities" ng-model="selectedCity1"
                          ng-change="getSelectedCityDayWeather()" >
                  </select>
                </p>
              </div>
              <input class="input" type="text" placeholder="Enter zip code" ng-show="byZip.value" ng-model="zip" ng-blur="getSelectedZipDayWeather()" />
              <article class="media">
                <div class="media-left">
                  <span class="icon is-medium is-left">
                    <i ng-class="fiveDayWeather.icon"></i>
                  </span>
                </div>
                <div class="media-content">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Date</th>
                      <th>Weather</th>
                      <th>Humidity</th>
                      <th>Wind Speed</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="">
                    <tr>
                      <th>1</th>
                      <td>36</td>
                      <td>+32</td>
                      <td>81</td>
                    </tr>
                    <tr>
                      <th>2</th>
                      <td>38</td>
                      <td>20</td>
                      <td>11</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </article>
              </div>
            <!-- Cards for weather details End -->
          </div>
        </div>
      </div>
      <div id="modal"></div>
    </div>
    </div>
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
  </body>
</html>
